<!DOCTYPE html>
<html>
  <head>
    <title>TurkeysApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <p><a href="/turkeys">See All Turkeys</a>
    <a href="/turkeys/new">Create a Turkey</a></p>
    <%= yield %>
  </body>
</html>
